bodY{
    position: relative;
}
#pulmao{
    width:70px;
    height:200px;
    background: #2F4858;
    border:2px solid #2F4858;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-left: 440px;

    
}

#app{
    margin-top:6rem;
}

#ar{
    width: 100%;
    background :blue;
    height: 0;
    bottom:0;
    position: absolute;
}


#estiloRespiracao{
    background: #402dad;
    margin: 10px 3px;
    color: #fff;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 1px 10px rgba(93, 15, 9, .3);
    -webkit-appearance: button;
    outline: none
}
div.input-group label[for*="ttempo"]{
    background: transparent;
    padding: 0.6rem 0.8rem;
    margin: 0.3rem 0;
    display: inline-block;
    border-radius:2rem;
    border:0.15rem solid white;
}
input[name*="tempo-inicial"]{
    display: none;
}
div.input-group input[name*="tempo-inicial"]:checked + label[for*="ttempo"] {
    background: #402dad;
    color:white;
}


#inputGroupSelect01{
    width:300px;
}

#temporizador input:checked + label{
    transition:2s all;
    text-decoration: underline;
}

/* Configurações  */
#config{
    width:250px;
    height: 600px;
    background: green;
    position: absolute;
    top:0;
    right:0;

}