body{
    background: rgba(184, 215, 180, 1);
}

#pulmao{
    width:70px;
    height:200px;
    background: #2F4858;
    border:2px solid #2F4858;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#ar{
    width: 100%;
    background :blue;
    height: 0;
    bottom:0;
    position: absolute;
}
