body{
    /* background: rgba(184, 215, 180, 1); */
    background:royalblue;
}


#principal{
    display: none;
}

#pulmao{
    width:70px;
    height:200px;
    background: #2F4858;
    border:2px solid #2F4858;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#ar{
    width: 100%;
    background :blue;
    height: 0;
    bottom:0;
    position: absolute;
}

/* Ajuste Inicial */
#inicio .preajuste{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:royalblue;
    padding:2rem;
    text-align:center;
    justify-content: center;


}

#apresentacao h1{
    color:white;
    font-style: arial;
    text-align:center;
    font-size:3rem;
    font-style: "Open Sans";
    
}
#apresentacao p{
    color:white;
    font-style: arial;
    text-align:center;
    font-size:1.4rem;
}

.input-group{
    margin:0 auto;
}

#estiloRespiracao{
    background: #402dad;
    margin: 10px 3px;
    color: #fff;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 20px;
    box-shadow: 0 1px 10px rgba(93, 15, 9, .3);
    -webkit-appearance: button;
    outline: none
}
div.input-group label[for*="ttempo"]{
    background: transparent;
    padding: 0.6rem 0.8rem;
    margin: 0.3rem 0;
    display: inline-block;
    border-radius:2rem;
    border:0.15rem solid white;
}
input[name*="tempo-inicial"]{
    display: none;
}
div.input-group input[name*="tempo-inicial"]:checked + label[for*="ttempo"] {
    background: #402dad;
    color:white;
}

a{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
    color:white;
    cursor: pointer;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0.6rem auto;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
}

a svg{
    height: 45px;
    left: 0;
    position: absolute;
    top: 0; 
    width: 100%; 
}

a rect{
    fill: none;
    stroke:white;
    stroke-width: 5;
    stroke-dasharray: 422, 0;
    transition: all 1s linear;
}

a:hover rect{
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

@font-face{
    font-family: "Open Sans";
    src: url("OpenSansRegular.ttf") format(ttf), 
}

@font-face{
    font-family: "Open Sans Bold";
    src: url("OpenSansBold.ttf") format(ttf), 
}

h1{
    color:white;
    font-style: arial;
    text-align:center;
    font-size:3rem;
    font-style: "Open Sans";
    
}